{
  "dev": "ecto://postgres_username:password@localhost/mogo_chat_development",
  "production": "<%= System.get_env("DATABASE_URL") %>",
  "test": "ecto://postgres_username:password@localhost/mogo_chat_development"
}
