{
  "dev": "ecto://postgres_username:password@localhost/mogo_chat_development",
  "production": "ecto://postgres_username:password@localhost/mogo_chat_production",
  "test": "ecto://postgres_username:password@localhost/mogo_chat_development"
}
