.channel-content {
  float: left;
  height: 100%;
  width: 60%; // TODO make responsive

  .channel-info {
    position: absolute;
    width: 60%;
    height: 1.5em;
    top: 0em;
    font-size: 1.1em;
    padding: 0.5em;
  }


  .activities-wrapper {
    position: absolute;
    width: 60%;
    top: 2em;
    bottom: 2em;
  }

  .activities {
    float: left;
    clear: both;
    width: 100%;
    padding: 0.5em;
  }

  .activity {
    clear: both;
    float: left;
  }

  .new-message {
    width: 60%;
    position: absolute;
    bottom: 0em;

    textarea {
      width: 100%;
      height: 2em;
      resize: none;
      box-shadow: 0em 0em 0.1em 0.2em #f6f6f6 inset;
      border: 0.1em solid #DDD;
      &:hover {
        outline: none;
      }
    }
  }
}

.active-users {
  float: right;
  width: 20%;  // TODO make responsive
  height: 100%;
  padding: 0.75em;

  .title {
    width: 100%;
    border-bottom: 0.1em solid #DDD;
    margin-bottom: 0.5em;
    color: #06C;
  }

  ul {
    padding: 0em;
    margin: 0em;

    li {
      list-style-type: none;
      font-size: 0.9em;
    }
  }
}