.room-content {
  float: left;
  height: 100%;
  width: 60%; // TODO make responsive

  .room-info {
    position: absolute;
    width: 60%;
    top: 0em;
    padding: 0.25em;
    font-size: 1em;
    border-bottom: 0.1em solid #DDD;
    color: #06c;
  }

  .messages-wrapper {
    position: absolute;
    width: 60%;
    top: 2em;
    bottom: 2.5em;
    overflow-y: scroll;
  }

  .messages {
    float: left;
    clear: both;
    width: 100%;
    padding: 0.5em;

    .message {
      clear: both;
      float: left;
      width: 100%;
      margin-top: 1em;

      .timestamp {
        font-size: 0.75em;
        color: #888;
        width: 100%;
        text-align: right;
      }

      .content {
      }

      .user {
        font-weight: bold;
      }
    }
  }

  .new-message {
    width: 60%;
    position: absolute;
    bottom: 0em;

    textarea {
      width: 100%;
      height: 2.5em;
      resize: none;
      border-top: 0.1em solid #DDD;
      border-right: none;
      border-left: none;
      border-bottom: none;
      &:hover {
        outline: none;
      }
    }
  }
}


.room-details-wrapper {
  width: 20%;  // TODO make responsive
  height: 100%;
  padding-left: 0.3em;
  float: right;

  .room-details {
    float: left;
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    box-shadow: -0.1em 0em 0em 0.1em #F1F1F1;
    border-left: 0.1em solid #DDD;
    padding: 0.5em;
  }

  .active-users {
    float: right;
    width: 100%;

    ul {
      padding: 0em;
      margin: 0em;

      li {
        list-style-type: none;
        font-size: 1em;
        color: #777;
        // TODO colors should be diff for each user
        border-left: 0.2em solid #99C;
        padding-left: 0.2em;
        margin-bottom: 0.5em;
      }
    }
  }

}