.room-content {
  position: absolute;
  height: 100%;

  .room-info {
    position: absolute;
    width: 100%;
    top: 0em;
    padding: 0.25em;
    font-size: 1.25em;
    border-bottom: 0.1em solid #DDD;
    color: #06c;
  }

  .menu-control {
    float: left;
    cursor: pointer;

    img {
      width: 1.25em;
      height: 1.25em;
      margin-right: 0.5em;
    }
  }

  .messages-wrapper {
    position: absolute;
    width: 100%;
    top: 2.7em;
    bottom: 2.5em;
    overflow-y: scroll;
  }

  .load-messages {
    background: #FDE893;
    padding: 0.25em;
    border-radius: 0.3em;
    cursor: pointer;
  }

  .messages {
    float: left;
    clear: both;
    width: 100%;
    padding: 0.5em;

    .message {
      clear: both;
      float: left;
      width: 100%;
      margin-top: 1em;

      .content a { color: #06c; }
      .me-body { font-style: italic; }

      .paste-wrapper {
        float: left;
        width: 100%;
        box-shadow: 0 0 0.1em 0.05em #CCC;
        background: #fff;
        margin-top: 0.25em;
        padding: 0.25em;

        .paste-actions {
          float: left;
          a { color: #06C; }
        }

        pre.paste-body {
          float: left;
          width: 100%;
          font-family: monospace;
          background: #FAFAFA;
          padding: 0.5em;
          color: #444;
          margin: 0.3em 0em 0em 0em;
          font-size: 0.9em;
          overflow-x: scroll;
        }
      }

      .message-info {
        float: left;
        font-size: 0.75em;
        color: #888;
        width: 100%;
        text-align: right;

        .message-meta {
          float: right;

          .timestamp, .post-error {
            padding: 0.25em;
            border-radius: 0.25em;
            float: right;
          }

          .timestamp {
            background: #f1f1f1;
            color: #888;
          }

          .post-error {
            background: #dd0000;
            color: #fff;
          }
        }
      }

      .user { font-weight: bold; }
    }
  }

  .new-message {
    width: 100%;
    position: absolute;
    bottom: 0em;

    textarea {
      width: 100%;
      height: 2.5em;
      resize: none;
      border-top: 0.1em solid #DDD;
      border-right: none;
      border-left: none;
      border-bottom: none;
      &:hover {
        outline: none;
      }
    }
  }
}


.room-details-wrapper {
  width: 20%;  // TODO make responsive
  height: 100%;
  padding-left: 0.3em;
  float: right;

  .room-details {
    float: left;
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    box-shadow: -0.1em 0em 0em 0.1em #F1F1F1;
    border-left: 0.1em solid #DDD;
    padding: 0.5em;
  }

  .active-users {
    float: right;
    width: 100%;

    ul {
      padding: 0em;
      margin: 0em;

      li {
        list-style-type: none;
        font-size: 1em;
        color: #777;
        padding-left: 0.2em;
        margin-bottom: 0.5em;
      }
    }
  }

}
