* { @include box-sizing(border-box); }

html, body {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

.app-name { width: 100%; }

.app-audio { display: none; }

.container {
  width: 100%;
  height: 100%;
  float: left;
  overflow-x: hidden;
}

.left-panel .title, .room-details .title {
  font-size: 0.85em;
  color: #06c;
  text-transform: uppercase;
  border-bottom: 0.1em solid #CCC;
  margin-bottom: 0.5em;
}

.settings {
  width: 100%;
  height: 100%;
  float: left;

  .detail {
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
    overflow-y: scroll;

    .header {
      width: 100%;
      position: fixed;
      top: 0em;
      color: #06c;

      .title {
        float: left;
        font-size: 1.5em;
        text-transform: capitalize;
      }
    }
  }
}