.left-panel-wrapper {
  float: left;
  width: 20%; // TODO make responsive
  height: 100%;
  padding-right: 0.3em;

  .left-panel {
    float: left;
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    box-shadow: 0.1em 0em 0em 0.1em #F1F1F1;
    border-right: 0.1em solid #DDD;
    overflow-y: scroll;
  }
}

.left-panel {
  .app-name {
    font-size: 1.2em;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
  }

  .logout {
    float: right;
    a {
      cursor: pointer;
      img {
        height: 1em;
      }
    }
  }

  .user-details {
    float: left;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 1.2em;

    a {
      color: #777;
      font-weight: bold;
    }
  }
 

  .navigation, .rooms {
    float: left;
    width: 100%;
    padding: 1.2em;

    ul {
      margin: 0em;
      list-style-type: none;
      padding: 0em;

      li {
        color: #BBB;
        padding: 0.25em 0em 0.25em 0em;

        a {
          cursor: pointer;
          display: block;
          padding: 0.25em;

          &:hover {
            background: #f1f1f1;
            border-radius: 0.3em;
          }
        }
      }

      .joined { color: #666; }
    }
  }

  .rooms li { font-size: 1.1em; }
  .navigation {
    li {
      a {
        text-decoration: none;
        color: #666;
      }
    }
  }

  .back-to-chat {
    padding: 1.25em;
    width: 100%;
    float: left;

    a {
      text-decoration: none;
      background: #444;
      color: #FFF;
      border-radius: 0.2em;
      padding: 0.25em;
      float: left;
    }
  }

}
