.login {
  font-size: 1.1em;
  background: #FFF;
  padding: 0.5em;
  margin: auto;
  position: absolute;
  top: 0em;
  right: 0em;
  left: 0em;
  bottom: 0em;

  .title {
    color: #06c;
    font-size: 1.5em;
    border-bottom: 0.1em solid #06C;
    margin-bottom: 1em;
  }

  .field {
    margin-bottom: 1em;

    label {
      color: #666;
      font-size: 0.9em;
    }

    input {
      border: 0.1em solid #999;
      padding: 0.2em;
      width: 100%;
      color: #444;
    }
  }


  .actions {
    input {
      background: #FFF;
      color: #06C;
      border: 1px solid #06C;
      border-radius: 0.15em;
      box-shadow: 0em 0em 0.2em 0.05em #0073E6;
    }
  }

  .error {
    width: 100%;
    color: #C00;
    margin-top: 1em;
  }
}
