@mixin desktop-styles {
  .login {
    width: 20em;
    padding: 1em 2em 2em 2em;
  }

  .detail {
    width: 80%;
    padding: 2.3em 1em 1em 1em;
  }

  .room-content {
    width: 60%;
    left: 20%;
  }

  .left-menu-control, .right-menu-control {
    display: none;
  }
}


@mixin mobile-styles {

  .container {
    position: absolute;
    overflow-x: hidden !important;
  }

  .login { width: 100%; }

  .detail {
    width: 100%;
    padding-top: 2.3em;
  }

  .left-menu-control { float: left; }
  .right-menu-control { float: right; }

  .left-menu-control, .right-menu-control {
    cursor: pointer;

    img {
      height: 1.2em;
      margin-right: 0.5em;
    }
  }

  .left-panel-wrapper {
    width: 80%;
    margin-left: -80%;
  }

  .room-content { width: 100%; }
  .move-content-right { margin-left: 80%; }
  .move-content-left  { margin-left: -80%; }

  .room-details-wrapper {
    width: 80%;
    margin-right: -80%;
  }

  .is-left-menu-open {
    position: relative !important;
    margin-left: 0% !important;
  }

  .is-right-menu-open {
    position: relative !important;
    margin-right: 0% !important;
  }
}

// desktop
@media screen 
and (min-device-width : 1024px) {
  @include desktop-styles;
}

// ipad landscape
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  @include mobile-styles;
}

// ipad portrait
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  @include mobile-styles;
}

// iphone-5 portrait & landscape
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  @include mobile-styles;
}

// iphone 2G-4S in portrait & landscape
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  @include mobile-styles;
}

// Other mobile devices
@media screen and (max-width: 480px) {
  @include mobile-styles;
}

// Desktop
@media screen and (min-width: 1024px) {
  @include desktop-styles;
}
