@mixin desktop-styles {
  .login {
    width: 20em;
    padding: 1em 2em 2em 2em;
  }
}

@mixin mobile-styles {
  .login {
    width: 100%;
  }
}

// desktop
@media screen 
and (min-device-width : 1024px) {
  @include desktop-styles;
}

// ipad landscape
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  @include mobile-styles;
}

// ipad portrait
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  @include mobile-styles;
}

// iphone-5 portrait & landscape
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  @include mobile-styles;
}

// iphone 2G-4S in portrait & landscape
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  @include mobile-styles;
}

// Other mobile devices
@media screen and (max-width: 480px) {
  @include mobile-styles;
}

// Desktop
@media screen and (min-width: 1024px) {
}
