@mixin desktop-styles {
  .login {
    width: 20em;
    padding: 1em 2em 2em 2em;
  }

  .room-content {
    width: 60%;
    left: 20%;
  }

  .menu-control {
    display: none;
  }
}


@mixin mobile-styles {

  .container {
    position: absolute;
    overflow-x: hidden !important;
  }

  .login { width: 100%; }

  .menu-control {
    float: left;
    cursor: pointer;

    img {
      width: 1.25em;
      height: 1.25em;
      margin-right: 0.5em;
    }
  }

  .left-panel-wrapper {
    width: 80%;
    margin-left: -80%;
  }

  .is-left-menu-open {
    position: relative !important;
    margin-left: 0% !important;
  }

  .room-content {
    width: 100%;
  }

  .room-details-wrapper {
    width: 80%;
    margin-right: -80%;
    display: none;
  }

  .move-content-right {
    margin-left: 80%;
  }

  .move-content-left {
    margin-left: -80%;
  }

}

// desktop
@media screen 
and (min-device-width : 1024px) {
  @include desktop-styles;
}

// ipad landscape
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  @include mobile-styles;
}

// ipad portrait
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  @include mobile-styles;
}

// iphone-5 portrait & landscape
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  @include mobile-styles;
}

// iphone 2G-4S in portrait & landscape
@media screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  @include mobile-styles;
}

// Other mobile devices
@media screen and (max-width: 480px) {
  @include mobile-styles;
}

// Desktop
@media screen and (min-width: 1024px) {
}
