.page {
  float: left;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .add {
    padding: 0.25em 0.5em;
    border: 1px solid #68A056;
    color: #68A056;
    text-decoration: none;
    margin-bottom: 1em;
    clear: both;
    float: left;
    border-radius: 0.2em;
    cursor: pointer;
  }

  .user-form {
    padding: 1em;
  }

  form {
    float: left;
    width: 100%;
    background: #FCFCFC;
    padding: 1em;
    border: 1px solid #DDD;

    .field {
      float: left;
      width: 100%;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      clear: both;
    }

    .actions {
      float: left;
      border-top: 2px solid #EEE;
      margin-top: 1em;
      padding-top: 1em;
      width: 100%;

      .save {
        padding: 0.2em 0.5em;
        font-size: 1.1em;
        background: #FFF;
        color: #06C;
        border: 1px solid #06C;
        border-radius: 0.15em;
        box-shadow: 0em 0em 0.2em 0.05em #0073E6;
      }
    }
  }
}

.list {
  width: 100%;
  float: left;
  padding: 1em;

  .item {
    width: 100%;
    float: left;
    background: #fafafa;
    border-left: 0.15em solid #E08587;
    border-right: 0.1em solid #DDD;
    border-top: 0.1em solid #DDD;
    border-bottom: 0.1em solid #DDD;
    padding: 0.5em;
    margin-bottom: 1em;

    .name {
      font-weight: bold;
    }

    .controls {
      clear: left;
      margin-top: 0.5em;
      a, span {
        margin-right: 1em;
        cursor: pointer;
        text-decoration: underline;
        color: #06c;
      }
    }
  }
}
