<!DOCTYPE html>
<html>
<head>
  <title>Mogo Chat</title>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="google" value="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="viewport" content="width=device-width"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <script type="text/javascript" src="/static/assets/application.js"></script>
  <link rel="stylesheet" href="/static/assets/application.css"/>
  <link rel="shortcut icon" href="/static/favicon.ico"/>
</head>
<body>


<script type="text/x-handlebars" id="index">
  <audio src="/static/sounds/notify.wav" id="app-audio"></audio>

  <div class="left-panel-wrapper" {{bind-attr class="isLeftMenuOpen"}}>
    <div class="left-panel">
      <div class="app-name">
        Mogo Chat
        <div class="logout">
          {{#link-to "logout"}}
            <img src="/static/assets/logout.png" id="logout-btn" alt="Logout" title="Logout"/>
          {{/link-to}}
        </div>
      </div>

      <div class="user-details">
        Hello {{#link-to "user.edit" currentUser}}{{currentUser.name}}{{/link-to}} ~!
      </div>

      <div class="rooms">
        <div class="title">Rooms</div>
        <ul>
          {{#each room_user_state in controller}}
            <li {{bind-attr class="room_user_state.joined:joined:unjoined"}}>
              {{#if room_user_state.joined }}
                <span class="leave-room" {{action "leaveRoom" this}}>&cross;</span>
              {{/if}}
              <a class="room-name" {{action "joinOrOpen" this}}>{{room_user_state.room.name}}</a>
              {{#if room_user_state.notification }}
                <span class="notification">&odot;</span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>

      {{#if currentUser.isAdmin}}
        <div class="navigation">
          <div class="title">Manage</div>
          <ul>
            <li>{{#link-to "rooms"}}Rooms{{/link-to}}</li>
            <li>{{#link-to "users"}}Users{{/link-to}}</li>
          </ul>
        </div>
      {{/if}}

    </div>
  </div>


  <div class="room-content" {{bind-attr class="isLeftMenuOpen:move-content-right isRightMenuOpen:move-content-left"}}>
    {{#unless activeState}}
      <div class="room-info">
        <div class="left-menu-control" {{action "toggleLeftMenu"}}>
          <img src="/static/assets/navicon.png"/>
        </div>
        <span class="active-room-name">Join a room</span>
      </div>

      <div class="messages-wrapper">
        <h2 align="center">Select a room in the navigation menu to join</h2>
      </div>
    {{else}}
      <div class="room-info">
        <div class="left-menu-control" {{action "toggleLeftMenu"}}>
          <img src="/static/assets/navicon.png"/>
        </div>
        <span class="active-room-name">{{activeState.room.name}}</span>
        <div class="right-menu-control" {{action "toggleRightMenu"}}>
          <img src="/static/assets/users.png"/>
        </div>
      </div>

      {{view App.RoomMessagesView}}

      {{view App.NewMessageView}}
    {{/unless}}
  </div>


  <div class="room-details-wrapper"  {{bind-attr class="isRightMenuOpen"}}>
    <div class="room-details">
      <div class="active-users">
        <div class="title">Users in room</div>

        <ul>
          {{#each user in activeState.room.users}}
            <li {{bind-attr style="user.borderStyle"}}>{{user.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" id="room-messages">
<div class="messages">
  {{#if activeState.room.isHistoryAvailable}}
    <div class="load-messages" {{action "loadHistory"}}>Load history...</div>
  {{/if}}
  {{#each message in activeState.room.messages}}
    {{partial message.type}}
  {{/each}}
</div>
</script>


<script type="text/x-handlebars" id="_text">
  <div class="message">
    <div class="content">
      <span class="user" {{bind-attr style="message.user.fontColor"}}>
        {{message.user.name}}
      </span>{{#if message.user.archived}}(*deleted user*){{/if}}:
      {{{message.formattedBody}}}
    </div>
    <div class="message-info">
      <div class="message-meta">
        {{#if message.errorPosting}}
          <span class="post-error">error posting ~!</span>
        {{else}}
          <span class="timestamp">{{readable-time message.createdAt}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="_me">
  <div class="message">
    <div class="content">
      <span class="user" {{bind-attr style="message.user.fontColor"}}>{{message.user.name}}</span>
      {{#if message.user.archived}}(*deleted user*){{/if}}
      <span class="me-body">{{{message.formattedBody}}}</span>
    </div>
    <div class="message-info">
      <div class="message-meta">
        {{#if message.errorPosting}}
          <span class="post-error">error posting ~!</span>
        {{else}}
          <span class="timestamp">{{readable-time message.createdAt}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="_paste">
  <div class="message">
    <div class="content">
      <span class="user" {{bind-attr style="message.user.fontColor"}}>{{message.user.name}}</span>
      {{#if message.user.archived}}(*deleted user*){{/if}}
      <br/>
      <div class="paste-wrapper">
        <pre class="paste-body">{{message.condensedBody}}</pre>
        {{#unless message.errorPosting}}
          <div class="paste-actions">
            <a target="_blank" {{bind-attr href=message.link}}>view</a>
          </div>
        {{/unless}}
      </div>
    </div>
    <div class="message-info">
      <div class="message-meta">
        {{#if message.errorPosting}}
          <span class="post-error">error posting ~!</span>
        {{else}}
          <span class="timestamp">{{readable-time message.createdAt}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="new-message">
  <textarea placeholder="Message..."></textarea>
</script>

<script type="text/x-handlebars" id="settings">
  <div class="left-panel-wrapper">
    <div class="left-panel">
      <div class="app-name">
        Mogo Chat
        <div class="logout">
          {{#link-to "logout"}}
            <img src="/static/assets/logout.png" alt="Logout" title="Logout"/>
          {{/link-to}}
        </div>
      </div>

      <div class="user-details">
        Hello {{#link-to "user.edit" currentUser}}{{currentUser.name}}{{/link-to}} ~!
      </div>

      <div class="back-to-chat">{{#link-to "index"}}Back to chat{{/link-to}}</div>

      {{#if currentUser.isAdmin}}
        <div class="navigation">
          <div class="title">Manage</div>
          <ul>
            <li>{{#link-to "rooms"}}Rooms{{/link-to}}</li>
            <li>{{#link-to "users"}}Users{{/link-to}}</li>
          </ul>
        </div>
      {{/if}}

    </div>
  </div>
  {{yield}}
</script>

<script type="text/x-handlebars" id="application">
  {{outlet}}
</script>

<script type="text/x-handlebars" id="login">
  <div class="login">

    <div class="title">Mogo Chat</div>

    <p style="background:#f1f1f1; padding: 0.25em"><small>This demo app is reset everyday.</small></p>

    <form {{action "login" on="submit"}}>

      <div class="field">
        <label>Email</label><br/>
        {{input type="text" name="email" value=email}}
      </div>

      <div class="field">
        <label>Password</label><br/>
        {{input type="password" name="password" value=password}}
      </div>

      <div class="actions">
        <span class="auth-error">{{errorNotification}}</span>
        {{input type="submit" name="login" value="Log In"}}
      </div>

      {{# if error}}
        <div class="error">{{error}}</div>
      {{/if}}

    </form>
  </div>
</script>


<script type="text/x-handlebars" id="user/edit">
  <div class="detail">
    <div class="header">
      <div class="title">Edit user</div>
    </div>

    {{partial "user-form"}}

  </div>
</script>


<script type="text/x-handlebars" id="users/new">
  <div class="detail">
    <div class="header">
      <div class="title">New user</div>
    </div>

    {{partial "user-form"}}

  </div>
</script>


<script type="text/x-handlebars" id="_user-form">
  <div class="page">
    <div class="user-form">
      <form {{action "save" on="submit"}}>

        {{#if errorMsg}}
          <div class="error">{{errorMsg}}</div>
        {{/if}}

        <div class="field">
          <label>First name</label><br/>
          {{input type="text" value=model.name}}
          {{#if errors.name}}
            <div class="error">{{errors.name}}</div>
          {{/if}}
        </div>

        <div class="field">
          <label>Email</label><br/>
          {{input type="text" value=model.email}}
          {{#if errors.email}}
            <div class="error">{{errors.email}}</div>
          {{/if}}
        </div>

        <div class="field">
          <label>Password</label><br/>
          {{input type="password" value=model.password}}
          {{#if errors.password}}
            <div class="error">{{errors.password}}</div>
          {{/if}}
        </div>

        {{#if currentUser.isAdmin}}
          <div class="field">
            <label>Role</label>
            {{view Ember.Select
                   content=validRoles
                   value=model.role}}
          </div>
        {{/if}}

        {{#if model.id}}
          <div class="field">
            <p>
              <label>Auth token</label>:
              <code>{{model.authToken}}</code>
            </p>
          </div>
        {{/if}}

        <div class="actions">
          <button class="save" {{action "save"}}>Save</button>
          or
          {{#link-to "users"}}cancel{{/link-to}}
        </div>

      </form>
    </div>
  </div>
</script>


<script type="text/x-handlebars" id="users/index">
  <div class="detail">
    <div class="header">
      <div class="title">Users</div>
    </div>

    <div class="page">
      <div class="list">
        {{#link-to "users.new" classNames="add"}}+ Add{{/link-to}}

        {{#each user in controller}}
          {{#unless user.archived}}
            <div class="item">
              <span class="name">{{user.name}}</span>
              (<span class="email">{{user.email}}</span>)
              <div class="controls">
                {{#link-to "user.edit" user.id}}Edit{{/link-to}}
                {{#unless isCurrentUser}}
                  <span {{action "remove" this}}>Remove</span>
                {{/unless}}
              </div>
            </div>
          {{/unless}}
        {{/each}}

      </div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" id="rooms/new">
  <div class="detail">
    <div class="header">
      <div class="title">New room</div>
    </div>

    <div class="page">
      <div class="room-form">
        <form {{action "save" on="submit"}}>

          {{#if errorMsg}}<div class="error">{{errorMsg}}</div>{{/if}}

          <div class="field">
            <label>Name</label><br/>
            {{input type="text" value=roomName}}
            {{#if errors.name}}<div class="error">{{errors.name}}</div>{{/if}}
          </div>

          <div class="actions">
            <button class="save" {{action "save"}}>Save</button>
            or
            {{#link-to "rooms"}}cancel{{/link-to}}
          </div>

        </form>
      </div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" id="room/edit">
  <div class="detail">
    <div class="header">
      <div class="title">Edit room</div>
    </div>

    <div class="page">
      <div class="room-form">
        <form {{action "save" on="submit"}}>

          {{#if errorMsg}}<div class="error">{{errorMsg}}</div>{{/if}}

          <div class="field">
            <label>Name</label><br/>
            {{input type="text" value=model.name}}
            {{#if errors.name}}<div class="error">{{errors.name}}</div>{{/if}}            
          </div>

          <div class="actions">
            <button class="save" {{action "save"}}>Save</button>
            or
            {{#link-to "rooms"}}cancel{{/link-to}}
          </div>

        </form>
      </div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" id="rooms/index">
  <div class="detail">
    <div class="header">
      <div class="title">Rooms</div>
    </div>

    <div class="page">
      <div class="list">
        {{#link-to "rooms.new" classNames="add"}}+ Add{{/link-to}}

        {{#each room in controller}}
          <div class="item">
            <span class="name">{{room.name}}</span>
            <div class="controls">
              {{#link-to "room.edit" room.id}}Edit{{/link-to}}
              <span {{action "remove" this}}>Remove</span>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</script>

</body>
</html>